body {
  font-family: "Lucida Console", "Courier New", monospace; 
  border: 1px solid black;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  background-color: lightblue;
  place-items: center;
}

